:root {
  --complex-shadow: 0px 0px 2.2px -4px rgba(0, 0, 0, 0.048),
    0px 0px 5.3px -4px rgba(0, 0, 0, 0.069),
    0px 0px 10px -4px rgba(0, 0, 0, 0.085),
    0px 0px 17.9px -4px rgba(0, 0, 0, 0.101),
    0px 0px 33.4px -4px rgba(0, 0, 0, 0.122),
    0px 0px 80px -4px rgba(0, 0, 0, 0.17);

  --color-link: hsl(0, 100%, 50%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui;
  margin: 3rem 0;
}

h1 {
  text-align: center;
}

h1 a {
  color: var(--color-link);
}

h1 a:hover {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 0.5rem;
  width: 90%;
  max-width: 70ch;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--complex-shadow);
}

.grid-container ul {
  display: grid;
  grid-template-rows: subgrid;
  /* Sin la declaración 'grid-row' siguente las filas se apelotonan en una única fila, porque 1 fila tiene el contenedor grid padre. 99 es arbitrario, simplemente es una cantidad alta para asegurar que haya sitio para las filas */
  grid-row: span 99;
  margin: 0;
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.grid-container ul:first-child {
  background: hsl(250, 25%, 85%);
}

.grid-container ul:last-child {
  background: hsl(125, 25%, 85%);
}

.grid-container li {
  padding-left: 0.5rem;
}

.grid-container li:not(:first-child) {
  border-top: 1px solid hsl(0, 0%, 60%);
  padding-top: 2rem;
}

.grid-container li:not(:last-child) {
  padding-bottom: 2rem;
}

.grid-container li::marker {
  content: "✓";
  font-weight: bold;
}

@media (min-width: 48rem) {
  .grid-container {
    column-gap: 1rem;
    padding: 2rem;
  }

  .grid-container ul {
    padding: 2rem;
  }
}
